<img src="Tarjeta.png">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tiempo-en-Python" data-toc-modified-id="Tiempo-en-Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tiempo en Python</a></span></li><li><span><a href="#Pandas-Con-Tiempo" data-toc-modified-id="Pandas-Con-Tiempo-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Con Tiempo</a></span></li></ul></div>

# Ejercicios

## Tiempo en Python

0. Importa el paquete de datetime

In [5]:
from datetime import datetime, date, time, timedelta

1. Crea un variable con el dia de tus cumplea침os con la funcion datetime y muestrala en pantalla (print). Si no quieres decir compartirla, puedes usar una fecha ficticia :)

3. Crea otra variable con el dia de cumplea침os utilizando cadena de texto con esta forma 01/01/1990. Comprueba que ambas fechas son iguales creando una nueva variable: son_iguales

3. Muestra tu cumplea침os (cualquiera de las dos variables) en 4 formatos diferentes:
    + January 01, 1990
    + 01/01/1990
    + 01-01-1990
    + 01 January 1990

4. Que dia de las semana has nacido? Y en que d칤a del a침o? Y en que semana del a침o? Mira en las tablas para acordarte de los codigos

5. Crea una variable de tipo hora en la que has nacido. Si no te acuerdas游땐 te la puedes inventar. Combinala con la fecha (cualquiera de las fechas es verdad)

6. Obten los principales atributos del campo edad: a침o, mes, d칤a del mes, hora, minuto, segundo y microsegundo

7. Calcula tu edad,incluyendo la variable hora

8. En que fecha has cumplido 5000 d칤as? Obten la variable a침o, mes y si era fin de semana o no. Seras mayor en esa fecha o cuando cumplas 300000000 de segundos?

9. Cuantos a침os tendras el 'Jun 28 2025 at 7:40AM' (incluye tambien horas minutos y segundos)? Tienes que utilizar el formato cadena para introducir la fecha

10. Crea  una lista con todas las fechas de tu cumplea침os hasta el d칤a de hoy. Pista timedelta no incluye a침os porque no es unidad de tiempo fija, puedes utilizar .replace.

Ejercicio extra. Crea la funcion add_year para sumar un a침o utilizando timedelta. Comprueba si el a침o es bisiesto y suma el n칰mero de d칤as correspondiente

***

## Pandas Con Tiempo

A continuaci칩n, vienen los ejercicios relacionados con pandas. El dataset contiene ratios de intercambio de monedas con el dolar, y nos centraremos en el euro,

In [200]:
link = 'https://github.com/AnotherKamila/currency-exchange-rates/blob/master/rates.csv'

0. Importa la libreria de Python y de Numpy

In [201]:
import pandas as pd
import numpy as np

1. Lee el archivo con pandas (no incluyas ningun parametro de momento)

In [202]:
df_rates = pd.read_csv('https://raw.githubusercontent.com/AnotherKamila/currency-exchange-rates/master/rates.csv')

In [203]:
df_rates.sample(5)

,Date,LAK,AOA,ANG,NOK,XPF,AFN,MZN,DOP,CZK,...,ALL,LKR,ILA,BRX,INX,CAX,CUC,ISX,HUX,CZX
200,2017-06-18,8236.000000,165.091003,1.7700,8.44620,106.470001,67.949997,59.869999,47.130001,23.348000,...,118.500000,152.820007,NaN,3.2886,NaN,NaN,NaN,NaN,275.450012,NaN
104,2017-12-15,8285.000000,165.098007,1.7800,8.27723,100.669998,69.000000,59.150002,48.320000,21.766899,...,112.760002,153.100006,NaN,3.3326,NaN,NaN,NaN,NaN,266.179993,NaN
131,2017-10-23,8310.700195,165.097000,1.7800,7.99525,101.040001,68.029999,60.400002,47.849998,21.835501,...,113.489998,153.600006,NaN,3.1827,NaN,NaN,NaN,NaN,260.950012,NaN
282,2017-03-27,8188.000000,165.085999,1.7700,8.44726,109.120003,66.599998,70.440002,47.310001,24.838400,...,125.050003,151.699997,NaN,3.1276,NaN,NaN,NaN,NaN,285.369995,NaN
231,2017-05-17,8182.000000,165.087997,1.7775,8.42660,106.820000,68.070000,70.440002,47.080002,23.786501,...,120.900002,152.580002,NaN,3.0918,NaN,NaN,NaN,NaN,279.630005,NaN

2. Chequea el numero de columnas,tipo de columnas, numero de filas y los valores caractersticos de la serie numerica (summary).

3. Convierte la variable de tiempo (Date) al formato datetime y conviertela en el indice

4. Vuelve a leer el arhcivo, esta vez asignando el parametro al indice y el camo date como fecha. Comprueba que los dataframes son iguales (Se puede utilizar df.equals(exactly_equal))

5. Quedate con uno de los dos anteriores dataframes y crea uno nuevo saolamente con las columnas date y EUR. Pintala en un lineplot

6. Filtra el dataframe para tener
+ Datos unicamente de 2017. Cuantos datos tenemos de 2017?
+ Datos para marzo 2018. Obten la media del mes
+ El resultado para el 15 de Febrero de 2018

7. Que dia de la semana tiene una media mayor? Y una mediana mayor? Pinta en un grafico de barras la media(Groupby)

8. Crea las siguientes columnas nuevas para el dataframe
+ A침o
+ Mes
+ Dia del mes
+ Dia del a침o
+ Semana del a침o

9. Crea dos nuevas variables en el dataframe
+ Valor de la variable del d칤a aterior " EUR_prev_1'
+ Valor de dentro de una semana "EUR_next_7'

10. Calcula la variable diferencia entre el valor de ayer y hoy, utilizando 'EUR_prev_1'

11. Calcula la el ratio de crecimiento entre ayer y hoy entre ambas, dividiendo entre el valor del dia anterior

12. Obten la columna 'Eur_prev_1_diff', con la funcion diff, y la variable pct_change 'Eur_prev_1_pct'. Comprueba que son iguales con lo calculado anteriormente

13. Crea una nueva variable la media movil CENTRADA de una semana. Haz un grafico(lineplot) para mostrarla , y comparala con la del ejercicio 5. Alguna conclusion>

14. Crea 3 dataframes distintos a una granularidad diaria (Recuerda que no hay fines de semanas, y tenemos que completar el valor)
+ El primero, utilizando el valor del primer d칤a
+ El segundo, Uutilizando el valor del d칤a siguiente
+ El tercero, Utilizando una interpolaci칩n entre ambos d칤as

15. Con el datraframe de Date y Eur (sin hacer el resample del ejercicio anterior). Plotea un histogroma de la variable (EUR):
    + Que el histograma sea porcentual
    + Actualiza el titulo
    + Actualiza la variable de los ejes
    + Cambia el numero de bins (bloques) para hacerlo m치s granular

16. Vuelve al dataframe del paso 1 y compara la distribucion de EUR con las siguientes monedas (columnas) ANG CUC CAX SHP con un boxplot