<img src="Tarjeta.png">

# Introducción al Jupyter Notebook

## Introducción a Jupyter Notebook

Jupyter Notebook es una aplicación web que te permite crear y compartir documentos que contienen código vivo, ecuaciones, visualización y texto explicativo. 
Así, la aplicación te permite realizar data cleaning y transformación de datos, simulación numérica, modelización estadística, machine learning y mucho más!

## Instalación de Jupyter Notebook

Lo hemos instalado mediante Anaconda, ya que facilita la instalación de Python, Jupyter Notebook y principales paquetes de Python para data science. 

Para abrir un nuevo Notebook, tenemos varias opciones:

- Desde el terminal:
Abrimos un nuevo directorio desde nuestro usuario mediante el siguiente comando:

cd ../Clase-1/

Y para abrir un nuevo Notebook tecleamos:

jupyter notebook

Que empieza un nuevo servidor y sale un dashboard dentro nuestro localhost. Por eso no debemos cerrar el terminal, porque sostiene nuestro servidor para Python.

- Otra opción es abrir Anaconda y seleccionar Jupyter Notebook desde ahí!

## Aspectos básicos de Jupyter Notebook

Para crear un nuevo notebook necesitamos tener un kernel, que establece que lenguaje de programación queremos usar.
En el caso de Python, tenemos que establecer el kernel raíz de Python 3. 

Para aquellos que no hayan usado antes el Jupyter Notebook, conviene empezar con un pequeño tutorial que encontraremos en:

>Help>User Interface Tour

Para entender la diferencia de modos, de edición y ejecución, nuestro primer comando!

In [1]:
print( "Hello World!")

Hello World!

In [1]:
print('Hola')

Hola

print('Hola')

Además, podemos encontrar shortcuts de los comandos más básicos de Jupyter Notebook:

>Help>User Interface Tour

Al escribir código, (CODE modo); tenemos una numeración de la ejecución del código; que es muy útil para no cometer errores y recordar flujo de la programación!

In [ ]:
nombre = "Ana"

In [ ]:
nombre

In [ ]:
nombre

In [ ]:
nombre = "Yolanda"

# Introducción al Python 1/2

## Qué es programar en Python?

La programación es el **proceso de crear un conjunto de instrucciones que le digan a un ordenador cómo realizar una tarea**. La programación se puede hacer usando una variedad de "lenguajes" de programación como SQL, Java, Python y C++.  

Así, programar es el proceso de comunicación entre humano-ordenador mediante un lenguaje, por lo que nuestro propósito es estudiar el lenguaje escogido con el que hablaremos a nuestro PC para que éste haga rutinas para nosotros. En nuestro caso, estudiaremos Python!

## Sintaxis en Python

Así, Python no es más que un lenguaje de programación, con elementos que no son más que analogías a los elementos que conforman un idioma como el Español. Tenemos:
- alfabeto, dígitos y símbolos - análogos al alfabeto español
- constantes variables y keywords (palabras reservadas) - análogas a las palabras del español
- instrucciones o commands - frases en español obedeciendo reglas de escritura 
- programas - análogos a parágrafos 

El idioma de la ciencia es el **inglés** y por lo tanto, veremos que la mayoría de comandos de Python se leen como un inglés muy básico

Entonces, como hacemos para aprender cualquier lenguaje, para aprender el Python tendremos que estudiar su **Sintaxis**:
- Disciplina lingüística que estudia el orden y la relación de las palabras o sintagmas en la oración, así como las funciones que cumplen.

![Image of Yaktocat](https://i.pinimg.com/600x315/88/5b/7b/885b7b783181234c51ea17ec48a02506.jpg)

Para evitarlo, es fundamental entender bien la sintaxis del lenguaje de programación con el que trabajaremos!!

### Identación

¿Qué es un lenguaje sino un conjunto ordenado de palabras separadas por espacios?

Para entender como escribir en lenguaje Python es fundamental entender el concepto de la identación, que se refiere a:
- espacios al inicio de una línea de código

Mientras que en otros lenguajes de programación la identación del código se usa para una mejor lectura, **la identación en Python es obligatoria ya que indica un bloque de código (o párrafo)**.

Un mismo código en Python, si no tuviera identación, dejará de funcionar

##### EJEMPLO

Vamos a probar qué pasa cuando no escribimos código bien identado!

In [5]:
if 4>5:
    print('hola')

In [6]:
if 4>5:
print('hola')

IndentationError: expected an indented block (<ipython-input-6-cc9b39640fb8>, line 2)

In [3]:
if 4<5:
    print('hola')

hola

In [4]:
if 4<5:
print('hola')

IndentationError: expected an indented block (<ipython-input-4-ecaf554bfd63>, line 2)

### Comentarios en Python

Los comentarios en Python son textos que escribimos dentro de un bloque de código que son ignorados por la máquina, es decir son visibles para nosotros pero invisibles para la máquina cuando ejecuta el bloque de código que contiene el comentario.

Los comentarios tienen dos funciones:
1. Explicar lo que hace una línea de código
2. Cancelar la ejecución de cierta línea de código dentro de un bloque de codigo que ejecutamos

Para añadir un comentario o comentar una línea de código, simplemente añadimos el símbolo #

#### EJEMPLO - comentarios para explicar

In [5]:
#hola

In [7]:
#print('h')

#### EJEMPLO - comentar para evitar ejecución de código

#### Si queremos comentar varias líneas también se puede esto:

In [9]:
"""
print('hola')
print('hola')
print('hola')
"""

"\nprint('hola')\nprint('hola')\nprint('hola')\n"

## Variables en Python

### Creación de variables

Siguiendo con la analogía de Python como un idioma más, las variables en un lenguaje de programación serían las palabras en el castellano. 

palabra en CASTELLANO contiene SIGNIFICADO

variable en PYTHON contiene VALOR

**Importante!**
En la definición del nombre de una variables sea **corto** y **conciso** para poder manipular la variable de forma cómoda dentro del código, y que tenga cierto **significado** o **sentido** con el tipo de información que almacena!

Es decir, **las variables son contenedores para almacenar valores**; que pueden ser:
- valor numérico
- valor textual

In [10]:
var = 4

In [11]:
var

4

In [13]:
var_2 = 'hola'

In [14]:
var_2

'hola'

In [15]:
var_2 = 4

In [16]:
var_2

4

Principales facilidades que ofrece Python en la definición de variables:

1. **No se predefinen**

En Python crear una variable no necesita ningun comando preevio, **una variable se crea en el momento que le asignamos valor**.  
Es decir, no necesitamos crear el contenedor a rellenar y después asignarle el valor, sino que poniendo un nombre al valor es como generamos la variable con el nombre asignado.

2. **Son reciclables**

Como las variables no se predefinen de ninguna forma, y se definen al asignarle valor; según el tipo de valor que le demos redefiniremos el tipo de la variable

La variable x es numérica porque contiene un número

Al asignarle otro valor, borro el anterior contenido de la variable x, y al ser ahora un valor textual; la variable x pasa de ser una variable numérica a una variable textual

Asigno texto a una variable usando doble comilla o comilla

#### EJEMPLO - Variable numérica

Quiero guardar el número 1 como un valor numérico, para usar más adelante. Así, le asigno un nombre simple y conciso y que tenga sentido y me guardo el número 1 como variable que tiene el nombre asignado:

In [ ]:
valor_uno = 1

Ahora tengo guardado el número 1 como variable que puedo, invocar, imprimir en pantalla o operar con ella.
Veámoslo:

In [ ]:
print(valor_uno)

O lo que es lo mismo

In [ ]:
valor_uno

De hecho, si ahora miro en mi inspector de variables, veré que tengo la variable guardada asignada con el valor que le he dado!

Además, como en esta variable he guardado un número, puedo aplicarle operaciones básicas a la variable!

In [ ]:
valor_uno + 1

In [17]:
var = 4

In [18]:
var + 4

8

Y si quiero, puedo guardarme el resultado de esta operación como una nueva variable

In [ ]:
valor_nuevo = valor_uno +1

Veamos que valor he obtenido!

In [ ]:
valor_nuevo

**Importante!** Cuando asigno un valor a una variable no se imprime por pantalla! Tendré que invocar el nuevo nombre de la variable para que imprima su valor!

#### EJEMPLO - Variable textual

Como hemos comentado, puedo estar interesado en almacenar números pero también texto! Es decir, puedo asignar un nombre a un texto para poder invocarlo en el futuro llamando al nombre de la variable.

In [ ]:
mi_texto = "Hola sol!"

Y ahora lo invoco... por su nombre!

In [ ]:
mi_texto

In [ ]:
print(mi_texto)

### Reglas de nombres de variables

Para asegurar una correcta sintaxis, hay que respetar reglas en la asignación de nombre de variables; que pueden ser nombres cortos (como x o y) o nombres más descriptivos (como mi_texto, o volumen, etc.). 

Reglas para definir variables en Python:
- el nombre de una variable debe **empezar por una letra o el símbolo _**
- el nombre de una variable **NO puede empezar por un número**
- el nombre de una variable **sólo puede contener carácteres alfanuméricos y guiones bajos(A-z, 0-9, and _ )**
- el nombre de una varible es **sensible a las mayúsculas**! (las variables edad, Edad y EDAD son 3 variables diferentes)


Además, existen **nombres reservados que no se pueden utilizar para nombrar variables**, ya que tienen una función própia en Python.

![title]()

##### EJEMPLOS de nombres Legales

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

##### EJEMPLOS de nombres Ilegales

In [ ]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
and = "y"

### Asignación de valores a múltiples variables

Python te permite asignar valores a múltiples variables a la vez

In [19]:
x, y, z = 'manzana', 'plátano', 'piña'

In [20]:
print(x, y, z)

manzana plátano piña

Así como asignar el mismo valor a varias variables en una línea

In [22]:
x = y = z = 'manzana'

In [23]:
print(x, y, z)

manzana manzana manzana

### Output de variables

Aunque ya hemos introducido de forma orgánica el concepto de output o imprimir (print) el valor que contiene una variable, vamos a refrescarlo!

**La opción print nos permite combinar textos para imprimir un mensaje entero**, combinando variables textuales o variable textual con texto; **mediante el operador +**, que actúa como agregador de los diferentes inputs de texto para entregar un solo output de mensaje.

#### EJEMPLOS de Print

In [24]:
x = 5

In [25]:
x

5

Sin embargo el operador + sólo puede agregar variables o inputs del mismo tipo: texto y texto o numérico y numérico.

In [26]:
print(x, 'hola')

5 hola

In [28]:
x = 'Python me '
y = 'encanta'
z = x + y
print(z)

Python me encanta

### Ejercicios

#### Asigna un nombre de coche a una variable
#### Asigna 3 modelos de coches a múltiples variables
#### Asigna una antigüedad a los 3 coches anteriores en nuevas variables e imprime un mensaje mediante el uso de las variables definidas indincando la suma de antigüedad de cada uno de los modelos

## Tipos de datos y variables en Python

### Introducción a tipos de datos

Al programar es importante entender el tipo de datos con el que tratamos. 

Como ya hemos comentado las variables pueden contener distintos tipos de datos, y los diferentes tipos de datos pueden realizar diferentes tipos de cosas.

Los tipos de datos nativos de Python son:
- números: enteros (integers), decimales (floats) y números complejos ( complex numbers)
- texto: (strings)
- listas (lists)
- tuples
- diccionarios

Cada tipo de datos se manipula usando:
- operadores
- funciones
- métodos de data-type

#### Determinar el tipo de datos de la variable

Mediante la función:

type()

aplicada a una variable, obtenemos el tipo de datos que almacena la variable!

#### EJEMPLOS

Obtenemos que los datos de la variable x son números integers (int)

In [45]:
x = '56'
print(type(x))

<class 'str'>

Es decir que la variable x es de clase integer

#### Casting: Fijar el tipo de datos de una variable

Aunque en Python no es necesario definir explícitamente el tipo de datos de una variable, ya que la variable hereda el formato del valor que almacena; habrá veces en que queramos especificar el tipo de la variable. 


Esto se puede realizar mediante lo que llamamos casting. 

Dado que Python es un lenguaje orientado a objetos, para definir los tipos de datos se usa clases mediante funciones constructoras:
- int() - construye un número entero a partir de un número entero, un decimal (redondeando) o un número textual 

- float() - construye un número decimal a partir de un número entero, un número decimal, o un número textual 

- str() - construye una cadena de texto a partir de cadenas de texto o números

#### EJEMPLO: int()

#### EJEMPLO: float()

#### EJEMPLO: str()

### Variables Numéricas

#### Tipo de datos numéricos

Existen 3 tipos de tipos de datos numéricos en Python:
- enteros (int): son números enteros, positivos o negativos, sin decimilas y sin longitud fijada
- decimales (float): número positivo o negativo que contiene decimales
- complejos (complex): número complejo, que se escriben con "j" como la parte imaginaria

Generamos una variable numérica cuando le asignamos un número

In [55]:
x = 1    
y = 2.8   
z = 1j

#### Verifica tipo de las variables numericas generadas

#### Conversión entre datos numéricos

Podemos transformar una variable numérica entre los 3 tipos de datos mediante los métodos int(), float() o complex().

- el método int() convierte una variable float a int
- el método float() convierte una variable int a float
- el métdodo complex() convierte una variable int o float a complex

**Excepción!** Una variable complex no se puede convertir a int ni float.

#### Ejercicio: Convierte las siguientes variables a todos los tipos numéricas que puedas: x = 1 ;  y = 2.8; z = 1j

#### Operadores aritméticos

Así como realizamos operaciones aritméticas con los números, podemos hacer lo mismo con variables numéricas (que almacenan números)

Operadores de variables numéricas:

![title]()

#### Ejercicio: Calcula mediante el uso de variables numéricas y operadores aritméticos el área de un triángulo si sabemos que la base mide 3,5cm y su altura es de 4cm

#### Ejercicio: Calcula mediante el uso de variables numéricas y operadores aritméticos el volumen de un cubo si cada lado mide 6cm

#### Operadores booleanos

Los operadores booleanos nos permiten testear condiciones del tipo TRUE o FALSE

![title]()

#### EJEMPLO:

In [68]:
2 == 2

True

**Importante!** No confundir el operador de asignación (**=**) con el operadores de igualdad (**==**)!!

#### Ejercicio: Comprobar que área es mayor, si la de un círculo de radio=2 o la de un cuadrado de lado=4, usando asginación de variables y utilizando al menos 3 operadores de comparación.

### Variables String

#### Datos String

Los strings son líneas de textos que se declaran mediante comillas simples o comillas dobles. 

Para definir una variable string simplemente tendremos que poner el nombre de la variable seguido por un símbolo = y el texto deseado.

Para obtener el texto deseado en pantalla usaremos la funcion print()

#### EJEMPLO: Imprimir texto

In [ ]:
print("Hola")
print('Hola')

#### EJEMPLO: Asignar variable string

In [ ]:
a = "Hola"
print(a)

#### Escape Carácter

Para insertar en una variable string un carácter illegal (") usaremos delante de la doble comilla el carácter de escape (\) o comillas simples y dobles.

In [83]:
a = 'hola como estas "pablo"'

In [84]:
a

'hola como estas "pablo"'

In [85]:
a = 'hola como estas \'pablo\''

In [86]:
a

"hola como estas 'pablo'"

#### Textos multilínea

Si quisiéramos asignar un párrafo de texto, lo podemos hacer mediante 3 dobles comillas o mediante 3 comillas simples

#### EJEMPLO

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

####  Concatenación de strings

Así como podemos operar con variables numéricas, podemos concatenar strings o texto mediante el operador de suma!

In [87]:
a = "Me llamo"
b = "Laura"

In [88]:
a + b

'Me llamoLaura'

In [89]:
a + " " + b

'Me llamo Laura'

#### Imprimir strings

#### Concatenar con espacios

In [90]:
a = 'Hola'
b = 'alumnos'

In [91]:
print(a,b)

Hola alumnos

#### Concantenar sin espacios

In [92]:
print(a+b)

Holaalumnos

In [94]:
print(a*10)

HolaHolaHolaHolaHolaHolaHolaHolaHolaHola

#### C-style para añadirle números

In [3]:
print("Harina = %f gramos" %100)

Harina = 1.000000 gramos

#### C-style para añadirle números con formato

In [ ]:
print("Harina = %.1f gramos" %100.00) #tipo float con 1 decimal

In [ ]:
print("Harina = %.2f gramos" %100.00) #tipo float con 2 decimales

In [17]:
print("Harina = %i gramos" %100.00) #tipo int

Harina = 100 gramos

In [25]:
total = "Comprar %.1fg de Harina y %i Huevos"%(150.2, 12)
print(total)

Comprar 150.2g de Harina y 12 Huevos

#### Métodos de strings

Sin embargo, existen funciones específicas de Python para trabajar con texto

| Método | Descripción | 
| --- |:--- | 
|capitalize() |	Pone en mayúscula la primera letra|
|casefold()|Pone en minúscula la primera letra|
|center()	|Centra el string|
|count()	|Devuelve el número de veces que se repite un carácter en un string|
|encode()	|Devuelve una versión encoded del string|
|endswith()	| Devuelve True si el string finaliza con un valor determinado|
|expandtabs()|	Fija el tamaño del tab del string |
|find()	|Searches the string for a specified value and returns the position of where it was found|
|format()	|Formats specified values in a string|
|format_map() |	Formats specified values in a string|
|index()	|Searches the string for a specified value and returns the position of where it was found|
|isalnum()	|Returns True if all characters in the string are alphanumeric|
|isalpha()	|Returns True if all characters in the string are in the alphabet|
|isdecimal()|	Returns True if all characters in the string are decimals|
|isdigit()	|Returns True if all characters in the string are digits|
|isidentifier()|	Returns True if the string is an identifier|
|islower()	|Returns True if all characters in the string are lower case|
|isnumeric()	|Returns True if all characters in the string are numeric|
|isprintable()|	Returns True if all characters in the string are printable|
|isspace()|	Returns True if all characters in the string are whitespaces|
|istitle()	|Returns True if the string follows the rules of a title|
|isupper()	|Returns True if all characters in the string are upper case|
|join()	|Joins the elements of an iterable to the end of the string|
|ljust()|	Returns a left justified version of the string|
|lower()	|Converts a string into lower case|
|lstrip()	|Returns a left trim version of the string|
|maketrans()	|Returns a translation table to be used in translations|
|partition()	|Returns a tuple where the string is parted into three parts|
|replace()	|Returns a string where a specified value is replaced with a specified value|
|rfind()|	Searches the string for a specified value and returns the last position of where it was found|
|rindex()	|Searches the string for a specified value and returns the last position of where it was found|
|rjust()|	Returns a right justified version of the string|
|rpartition()	|Returns a tuple where the string is parted into three parts|
|rsplit()	|Splits the string at the specified separator, and returns a list|
|rstrip()|	Returns a right trim version of the string|
|split()	|Splits the string at the specified separator, and returns a list|
|splitlines()	|Splits the string at line breaks and returns a list|
|startswith()|	Returns true if the string starts with the specified value|
|strip()	|Returns a trimmed version of the string|
|swapcase()	|Swaps cases, lower case becomes upper case and vice versa|
|title()	|Converts the first character of each word to upper case|
|translate()	|Returns a translated string|
|upper()	|Converts a string into upper case|
|zfill()	|Fills the string with a specified number of 0 values at the beginning|

Veamos algunos ejemplos de los métodos más usados:

#### len(): dado un string, devuelve la longitud de este

El output de la función len() es un valor numérico entero, con el que entonces se puede operar

#### capitalize(): para poner en mayúscula la primera letra del string

#### strip(): devuelve el string sin espacios

#### replace(): reemplaza una palabra por otra del texto

Ejercicio: Escribir un programa que pregunte el nombre completo del usuario en la consola y después muestre por pantalla el nombre completo del usuario tres veces, una con todas las letras minúsculas, otra con todas las letras mayúsculas y otra solo con la primera letra del nombre y de los apellidos en mayúscula. El usuario puede introducir su nombre combinando mayúsculas y minúsculas como quiera.

Ejercicio: Escribir un programa que pregunte al usuario la fecha de su nacimiento en formato dd/mm/aaaa y muestra por pantalla, el día, el mes y el año.

Ejercicio: Suma los índices de cada una de las letras que conforman la palabra "hola". Los índices en este caso son números que representan la posición de cada letra.

### Variables Booleanas


Al programar muchas veces puedes necesitar saber si una expresión es Verdadera (True) o Falsa (False); que vendría a ser la forma en que el ordenador nos responde con un Si o un No a nuestras commands. 

Así, la respuesta de un ordenador si una expresión es correcta es mediante las dos variables booleanas:

In [ ]:
True

In [ ]:
False

In [128]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

Ejercicio: Escribir un programa que pregunte el nombre del usuario en la consola y después de que el usuario lo introduzca muestre por pantalla la cadena ¡Hola **nombre**!, donde **nombre** es el nombre que el usuario haya introducido.

Ejercicio: Escribir un programa que pregunte el nombre del usuario en la consola y un número entero e imprima por pantalla en líneas distintas el nombre del usuario tantas veces como el número introducido.

Escribir un programa que pregunte al usuario por el número de horas trabajadas y el coste por hora. Después debe mostrar por pantalla la paga que le corresponde.

Ejercicio: Diseña un programa que verifique si el valor entero que escribimos es par.

Ejercicio: Escribir un programa que lea un entero positivo, introducido por el usuario y después muestre en pantalla la suma de todos los enteros desde 1 hasta n. La suma de los enteros positivos puede ser calculada de la siguiente forma: 

$$ \mbox{suma} = \frac{n(n+1)}{2} $$

Ejercicio: Escribir un programa que pida al usuario su peso (en kg) y estatura (en metros), calcule el índice de masa corporal y lo almacene en una variable, y muestre por pantalla la frase Tu índice de masa corporal es IMC donde IMC es el índice de masa corporal calculado redondeando con dos decimales.

# Bibliografia

https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=1

https://www.youtube.com/watch?v=k9TUPpGqYTo&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=2

https://www.youtube.com/watch?v=khKv-8q7YmY&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=3

https://www.programiz.com/python-programming/variables-constants-literals

https://medium.com/@postbio/programming-and-writing-are-analogous-71c0a773e411