<img src="Tarjeta.png">

# Introducción al Python 2/2

## Operadores en Python

Python aglutina un conjunto de operadores que actuan sobre variables y valores. 

Los operadores se dividen en los siguientes grupos:
- Operadores aritméticos
- Operadores de asignación
- Operadores de comparación
- Operadores lógicos
- Operadores de identidad
- Operadores de pertenencia
- Operadores bitwise

### Operadores Aritméticos

Los operadores aritméticos se usan con valores numéricos para realizar operaciones matemáticas comunes

| Operador | Nombre | Ejemplo |
|:--- |:--- | :--- |
|+ |Suma|x + y|
|- |Resta|x - y|
|* |Multiplicación|x * y|
|/ |División|x / y|
|% |Módulo|x % y|
|** |Exponenciación|x ** y|
|// | Division entera|x // y|

### Operadores de Asignación

Los operdores de asignación se usan para asignar valores a variables

| Operador | Nombre | Análogo |
|:--- |:--- | :--- |
| = |x = 5|x = 5|
|+=	|x += 3|x = x + 3|
|-=	|x -= 3|x = x - 3|
|*=	|x *= 3|x = x * 3| 
|/=	|x /= 3|x = x / 3|
|%=	|x %= 3|x = x % 3|
|//=|x //= 3	|x = x // 3|
|**=|x **= 3	|x = x ** 3|
|&=	|x &= 3|x = x & 3|
|\|=	|x \|= 3|x = x \| 3|
|^=	|x ^= 3|x = x ^ 3|
|>>=|x >>= 3|x = x >> 3|

### Operadores de comparación

Se usan para comparar dos valores distintos

| Operador | Descripción | Ejemplo |
|:--- |:--- | :--- |
|==|Igual|x == y|
|!=|No igual|x != y|
|>|Mayor que|x > y|
|<|Menor que |x < y|
|>=|Mayor o igual que|x >= y|
|<=|Menor o igual que|x <= y|

### Operadores Lógicos

Se usan para combinar sentencias condicionales

| Operador | Descripción | Ejemplo |
|--- |:--- | --- |
|and |Devuelve True si las dos instancias son ciertas|x < 5 and  x < 10|
|or|Devuelve True si una de las dos instancias son ciertas e|x < 5 or x < 4|
|not|Invierte el resultado, devuelve False si el resultado no es cierto|not(x < 5 and x < 10)  |

##### Ejercicio: Comprobar si el valor 700 es mayor que 27^2 y menor que 9^3 y si cumple alguna de las dos condiciones

In [50]:
a = 27**2
b = 9**3
x = 700
x > a and x < b

False

In [51]:
x > a or x < b

True

### Operadores de identidad

Los operadores de identidad se usan para comparar objetos, no su valor, sino si son el mismo objeto con la misma alocación de memoria

| Operador | Descripción | Ejemplo |
|--- |:--- | --- |
|is |Devuelve True si las dos variables son el mismo objeto|x is y|	
|is not	|Devuelve True si las dos variables No son el mismo objeto|x is not y|

### Operadores de pertenencia

Se usan para checkear si una secuencia aparece en un objeto

| Operador | Descripción | Ejemplo |
|--- |:--- | --- |
|in |Devuelve True si la secuencia con el valor especificado aparece en el objeto|x in y|	
|not in	|Devuelve True si la secuencia con el valor especifica no aparece en el objeto|x not in y|

## Introducción a Colecciones de Datos

Existen 4 tipos de tipos de datos compuestos o de colección:
- **Lista**: colección de datos ordenada y modificable. Permite miembros duplicados
- **Tupla**: colección de datos ordenada y no modificable. Permite miembros duplicados
- **Set**: colección de datos no ordenada y no indexada. No permite miembros duplicados
- **Diccionario**: colección de datos no ordenada, modificable e indexada. No permite miembros duplicados

![title](https://miro.medium.com/max/4142/1*Det-kkoSw9T4IZ4XrypVNQ.png)

Al escoger un tipo de colección, es útil entender sus propiedades. Escoger el tipo correcto para un dataset particular puede implicar retención de significado y por lo tanto, incrementar eficiencia o seguridad.

## Listas

### Introducción y acceso a listas

Una lista es una **colección de datos ordenada y modificable**. 

En Python las listas se constituyen mediante un **conjunto de elementos separados por comas y cerrador por brackets [ , ]**.

###### Ejemplo

In [10]:
mi_lista = ["de","todo"]

In [11]:
mi_lista

['de', 'todo']

In [14]:
mi_lista = [1, 2, 3 ]

In [15]:
mi_lista

[1, 2, 3]

In [16]:
mi_lista = [1, "de", "todo"]

In [17]:
mi_lista

[1, 'de', 'todo']

In [6]:
mi_lista = ['elemento_1', 'elemento_dos', 'elemento_tres']

In [7]:
mi_lista

['elemento_1', 'elemento_dos', 'elemento_tres']

In [8]:
print(mi_lista)

['elemento_1', 'elemento_dos', 'elemento_tres']

#### Acceder a elementos de la lista

Para acceder a un elemento contenido dentro de una lista, lo haremos referenciando el índice numérico o posición que ocupa el elemento en la lista.

**Importante!** **El indexado en una lista empieza en la posición 0**; es decir, el primer elemento de una lista tiene el índice 0

##### Ejemplo

In [12]:
mi_lista = ['de', 'todo']
mi_lista

['de', 'todo']

In [14]:
mi_lista[1]

'todo'

##### Ejercicio: Dividir el último valor de [4,5,78,6] entre el segundo valor de [3,8,2,0] usando indexado.

In [74]:
x = [4,5,78,6]
y=[3,8,2,0]
x[3] / y[1]

0.75

#### Indexado negativo

El indexado negativo nos permite **acceder a los elementos de la lista en orden inverso** (empezando desde el último elemento de la lista). 

Es decir, el índice -1 se refiere al último elemento de la lista, el índice -2 al penúltimo etc.

In [17]:
mi_lista1 = [11,2,2,4,4,8,7,5]

In [19]:
mi_lista1[-2]

7

##### Ejemplo

In [20]:
ultimo_elemento = mi_lista[-1]
ultimo_elemento

'todo'

In [14]:
penultimo_elemento = mi_lista[-2]
penultimo_elemento

'elemento_dos'

#### Rango de índices - selección múltiples elementos lista

Para obtener un conjunto de elementos de una lista se puede especificar un rango de índices a seleccionar; especificando primera y última posición del rango.

**Algunos remarks importantes**:
- La última posición del rango no se incluye en el output; es decir **el rango es un intervalo abierto por la derecha: rango = [ ,)** 
- Si no se especifica posición inicial del rango, por default el rango empieza con el 1r elemento
- SI no se especifica posición final del rango, por deault el rango coge hasta el último elemento

Así, **el output** de seleccionar un rango de posiciones **de una lista es otra lista**

In [21]:
mi_lista = ["hola","que","tal","h"]

In [75]:
mi_lista = ["hola","que","tal","h"]
mi_lista[0:3]

['hola', 'que', 'tal']

In [31]:
mi_lista = [0,1,2,3,4]

In [35]:
mi_lista [0:4]

[0, 1, 2, 3]

##### Ejemplo

In [78]:
#vamos a seleccionar el 1º y el 2º elemento de mi lista
mi_mini_lista = mi_lista[0:2]
mi_mini_lista

[0, 1]

In [79]:
#alternativa
mi_mini_lista = mi_lista[:2]
mi_mini_lista

[0, 1]

**Importante!**:
- El punto de finalización del rango no se incluye en el output, es decir para sacar los elementos 1 y 2 de una lista tenemos que especificar el rango que empiece en la posición 0 hasta la posición 2 (ya que la posición 2 no se incluye en output)
- Si no especificamos posición de inicio del rango, por default coge la posición 0 (o primer elemento)

##### Ejemplo

In [41]:
mi_lista_2 = ['manzana', 'piña', 'pomelo','mandarina','fresas']

In [81]:
#seleccionar desde piña hasta el final de la lista
mi_mini_lista_2 = mi_lista_2[1:len(mi_lista_2)]
mi_mini_lista_2

['piña', 'pomelo', 'mandarina', 'fresas']

In [25]:
mi_mini_lista_2 = mi_lista_2[1:]
mi_mini_lista_2

['piña', 'pomelo', 'mandarina', 'fresas']

#### Cambiar valor en una lista

Para cambiar el valor de un elemento de una lista, simplemento tenemos que acceder a ese elemento y reasignarle un nuevo valor.

##### Ejemplo

In [52]:
mi_lista = ["Juan","Silvia","Gustavo","Laura","Seo"]

In [53]:
mi_lista

['Juan', 'Silvia', 'Gustavo', 'Laura', 'Seo']

In [46]:
mi_lista[1] = mi_lista[3]
mi_lista

['Juan', 'Laura', 'Charles', 'Laura', 'Seo']

In [28]:
#al segundo elemento le asignamos un nuevo valor, que reemplazará inmediatamente el antiguo valor
mi_lista[1] = "elemento_cuatro"

In [29]:
#check lo que tenemos ahora
mi_lista

['elemento_1', 'elemento_cuatro', 'elemento_tres']

### Funciones de Lista

| Función | Descripción
|:---|:---|
|len(list)|Devuelve longitud de la lista
|max(list)|Devuelve el elemento de máximo valor de la lista|
|min(list)|Devuelve el elemento de mínimo valor de la lista||
|list(seq)|Convierte la tupla en una lista|

In [55]:
lista_1 = [2,3,4,4,5,6]

In [62]:
len(lista_1)

6

In [61]:
max(lista_1)

6

In [62]:
min(lista_1)

2

In [56]:
sum(lista_1)

24

### Métodos de Lista

In [ ]:
len(mi_lista) #una función que le aplico a mi_lista

mi_lista.append() #un método que le aplico a mi_lista

| Método | Descripción
|:---|:---| 
|list.append()|Añade un elemento al final de la lista|
|list.clear()|Borra todos los elementos de la lista |
|list.copy()|Devuelve una copia de la lista|
|list.count()|Devuelve el nº de elementos de la lista especificando el valor|
|list.extend()|Añade los elementos de una lista (o cualquier iterable) al final de la lista actual|
|list.index()|Devuelve el índice del primer elemento de la lista con el valor específico |
|list.insert()|Añade un elemento a la posición especificada |
|list.pop()|Borra el elemento de la posición especificada |
|list.remove()|Borra el elemento con el valor especificado |
|list.reverse()|Invierte el orden de la lista|
|list.sort()|Ordena la lista|

##### EJEMPLO: Longitud de la lista

In [71]:
cesta_compra = ['donuts','manzanas','detergente','patatas','cebollas','chicles']

In [88]:
cesta_compra

['donuts', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles']

In [89]:
print("¿Cuántos items tengo que ir a comprar?")

¿Cuántos items tengo que ir a comprar?

In [90]:
len(cesta_compra)

6

##### EJEMPLO: Añadir elementos en una lista

También tengo que ir a comprar pan! lo añado a la lista!

In [91]:
cesta_compra.append("pan")
cesta_compra

['donuts', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles', 'pan']

In [92]:
len(cesta_compra) #ahora tengo que compras un item más

7

##### EJEMPLO: Añadir elemento especificando posición

El 2º producto que tengo que  comprar son galletas!

In [93]:
cesta_compra.insert(1,"galletas") #especifico índice 1 para añadir el elemento en posición 2 de la lista
cesta_compra

['donuts',
 'galletas',
 'manzanas',
 'detergente',
 'patatas',
 'cebollas',
 'chicles',
 'pan']

##### EJEMPLO: Borrar elemento de lista, según nombre

Mejor no compro los donuts...

In [94]:
cesta_compra.remove("donuts")
cesta_compra

['galletas', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles', 'pan']

##### EJEMPLO: Borrar elemento de lista, según posición

No me da tiempo de comprar el último elemento de la cesta de la compra...

In [95]:
cesta_compra

['galletas', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles', 'pan']

In [96]:
cesta_compra[0] = ""
cesta_compra

['', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles', 'pan']

In [77]:
del cesta_compra[len(cesta_compra)-1]

In [78]:
cesta_compra

['donuts', 'detergente', 'patatas', 'cebollas']

Y tampoco el primero...

In [99]:
del cesta_compra[0]
cesta_compra

['manzanas', 'detergente', 'patatas', 'cebollas', 'chicles']

In [74]:
cesta_compra.pop(1)

##### EJEMPLO: Borra todos los elementos de la lista

Más bien no tengo tiempo de ir a comprar ningún producto..

In [100]:
cesta_compra.clear()
cesta_compra

[]

##### EJEMPLO: Borra lista entera

Así que definitivamente tiro la lista de la compra a la basura!

In [101]:
del cesta_compra

##### EJEMPLO: Copiar una lista

Copiar una lista (lista_1) a otra nueva (lista_2)  no es tan sencillo como escribir:

lista_2 = lista_1

Ya que esto lo que genera es una asignación o **referencia** de la lista original (lista_1) a la nueva lista (lista_2), lo que implica que cualquier cambio que apliquemos a la lista original se traducirá a la nueva lista.

Así que para generar una **copia** independentiente a la lista original, usaremos el método **copy()**.

In [51]:
nombres = ['Ana','Yolanda','Marcos','Cristina','Alberto']

In [54]:
copia_nombres = nombres.copy()
copia_nombres

['Ana', 'Yolanda', 'Marcos', 'Cristina', 'Alberto']

Alternativamente podemos usar el método **list()**:

In [55]:
copia_nombres = list(nombres)
copia_nombres

['Ana', 'Yolanda', 'Marcos', 'Cristina', 'Alberto']

##### EJEMPLO: Unificar (o JOIN) de dos listas mediante: +

Existen distintas formas de unificar o concatenar (JOIN) dos o + listas en Python.

In [102]:
lista_1 = ["a","b","c"]
lista_2 = ["1","2","3"]

In [103]:
lista_3 = lista_1 + lista_2
lista_3

['a', 'b', 'c', '1', '2', '3']

In [64]:
type(lista_3) #el elemento hereda el tipo de objeto de lista

list

##### EJEMPLO: Unificar (o JOIN) de dos listas mediante: extend

In [105]:
lista_1.extend(lista_2)
print(lista_1)

['a', 'b', 'c', '1', '2', '3']

##### EJEMPLO: Crear una nueva lista: list()

Hasta ahora hemos creado listas mediante el encuadre de elementos separados por comas y limitados por [].

Una forma alternativa es mediante el método **list()**, y especificando los elementos que contendrá limitados por paréntesis adicionales

In [73]:
lista_compra = list(('donuts','manzanas','detergente','patatas','cebollas','chicles'))
lista_compra

['donuts', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles']

Que es totalmento idéntico a definirla según lo que habíamos visto hasta ahora:

In [74]:
lista_compra = ['donuts','manzanas','detergente','patatas','cebollas','chicles']
lista_compra

['donuts', 'manzanas', 'detergente', 'patatas', 'cebollas', 'chicles']

Ejercicio:
- Crea una lista con el nombre de 4 personas.
- Agrega una persona mas a la lista ya creada y que aparezca en el segundo lugar. 
- Genera una lista nueva con los últimos dos nombres de tu lista anterior y únela a tu lista anterior.
- Utiliza una función para determinar cuantos elementos tienes en la lista
- Borra el 3er elemento de la lista
- Genera una lista de listas utilizando la lista anterior y donde las listas internas estan conformadas por las letras separadas que conforman cada nombre

In [146]:
lista = ['carlos', 'pedro', 'maria', 'daniela']

In [147]:
lista.append('marc')
lista

['carlos', 'pedro', 'maria', 'daniela', 'marc']

In [148]:
lista_2 = lista[-2:]
lista_2

['daniela', 'marc']

In [149]:
lista = lista + lista_2
lista

['carlos', 'pedro', 'maria', 'daniela', 'marc', 'daniela', 'marc']

In [150]:
len(lista)

7

In [151]:
lista.pop(2)

'maria'

In [159]:
lista

['carlos', 'pedro', 'daniela', 'marc', 'daniela', 'marc']

In [161]:
lista[0] = list(lista[0])

In [162]:
lista

[['c', 'a', 'r', 'l', 'o', 's'], 'pedro', 'daniela', 'marc', 'daniela', 'marc']

## Tuplas

### Definición

Las tuplas son listas inmutables, es decir; **no modificables**.

Se escriben con paréntesis **()**, mientras que recordemos que las listas se escriben con corchetes [].

##### EJEMPLO

In [75]:
tupla_compra = ('donuts','manzanas','detergente')
tupla_compra

('donuts', 'manzanas', 'detergente')

**IMPORTANTE** Para crear una tupla con un solo elemento hay que añadirle una coma al final

In [82]:
tupla_uno = ("donuts",)
tupla_uno
type(tupla_uno)

tuple

#### Accedir a elementos de una tupla

Accederemos a elementos de una tupla de la misma forma que hacíamos en las listas, especificando el nº de índice del elemento; entre claudátors

In [76]:
tupla_compra[0] #accedemos a índice 0 para sacar 1r elemento de la tupla

'donuts'

#### Indexado negativo

De la misma forma, para sacar elementos empezando desde le final de la tupla usaremos el indexado negatvo.

In [77]:
tupla_compra[-1] #sacamos el último elemento de la tupla

'detergente'

#### Rango de indexado

Igualmente, para sacar un conjunto de elementos de una tupla, especificaremos el rango de posiciones que ocupan estos elementos en la tupla; siendo el primer índice la posición de inicio (incluida) y el último índice la posición de final + 1 (no se incluye)

In [81]:
tupla_compra[0:2] #sacamos primer elemento y segundo, que ocupan posición 0 y 1

('donuts', 'manzanas')

**Importante!** 
- Recuerda que el primer ítem en una lista o tupla ocupa el índice 0!
- Recuerda que los rangos son cerrados por la izquierda y abiertos por la derecha!

####  Rango de indexado negativo

Para empezar la búsqeuda de elementos empezando por el final de la lista, usaremos índices negativos, siendo el primer índice el más anterior.

In [83]:
tupla_compra[-3:-1]

('donuts', 'manzanas')

### Funciones de Tuplas

| Función | Descripción
|:---|:---|
|len(tuple1)|Devuelve longitud de la tupla
|max(tuple1)|Devuelve el elemento de máximo valor de la tupla|
|min(tuple1)|Devuelve el elemento de mínimo valor de la tupla||
|tuple(sec)|Convierte la lista en una tupla|

### Métodos de Tuplas

| Método | Descripción
|:---|:---| 
|len()	|Devuelve el número de elementos que hay en la tupla|
|count()	|Devuelve el número de veces que un elemento aparece en la tupla|
|index()	|Busca en la tupla un elemento especificado y devuelve la posición que ocupa en la tupla|

##### EJEMPLO: Longitud de la tupla

In [4]:
tupla_nombres = ("Marco", "Ana", "Sofía","Roberto","Carlos","Laura","Estefanía")

In [85]:
len(tupla_nombres)

7

##### EJEMPLO: Añade elementos? NO!

Al ser una tupla no modificable no podemos añadirle elementos!!

In [86]:
tupla_nombres[7] = "Maria"

TypeError: 'tuple' object does not support item assignment

##### EJEMPLO: Elimina elementos? NO!

No se puede modificar una tupla y por lo tanto no se pueden eliminar elementos!

Sin embargo, sí se puede elimintar la tupla entera

In [89]:
del tupla_nombres

In [90]:
#tupla_nombres

NameError: name 'tupla_nombres' is not defined

##### EJEMPLO: Concatenar dos tuplas

In [113]:
tupla_1 = ("a","b","c")
tupla_2 = (1,2,3)

In [114]:
tupla_3 = tupla_1 + tupla_2
tupla_3

('a', 'b', 'c', 1, 2, 3)

## Sets

### Introducción

Un set es una colección de datos sin ordenación ni indexación. En Python, los sets se escriben con {}

Como los sets no son ordenados no puedes estar seguro con qué orden aparecen los elementos.

##### EJEMPLO:

In [117]:
mi_set = {"primero","segundo","tercero","cuarto"}
mi_set

{'cuarto', 'primero', 'segundo', 'tercero'}

In [ ]:
mi_set

In [67]:
mi_lista = list(mi_set)

['segundo', 'primero', 'tercero', 'cuarto']

In [68]:
type(mi_lista)

list

#### No puedes acceder a elementos de un set

Dado que un set no está ordenado ni tiene indexado, no se puede acceder a un elemento de un set mediante un índice!

#### No puedes cambiar elementos de un set

Una vez has creado un set, tampoco cambiar elementos; aunque sí podrás añadirle.

### Métodos de set

| Método | Descripción
|:---|:---| 
|add()	| Añade un elemento al set |
|clear()	| Borra todos los elementos de un set |
|copy()|	Devuelve una copia del set|
|difference()	| Devuelve un set que contiene la diferencia entre dos o más sets|
|difference_update()|	Borra los elementos en el set que también aparecen en otro set especificado |
|discard()	|Borra el ítem especificado |
|intersection()	|Devuelve un set que es la intersección de dos sets|
|intersection_update()|	Borra los elementos en el set que no aparecen en otro/s set/s especificados|
|isdisjoint()|	Devuelve si dos sets tienen una intersección o no |
|issubset()|	Devuelve si otro set contiene al set especificado o no |
|issuperset()|	Devuelve si el set contiene a otro set o no |
|pop()|	Borra un elemento del set |
|remove()|	Borra el elemento especificado |
|symmetric_difference()|	Devuelve un set con la diferencia simétrica de dos sets|
|symmetric_difference_update()|	Inserta la diferencia simétrica de un set con otro |
|union()|	Devuelve un set que contiene la union de sets|
|update()|	Actualiza el set con la union del set con otros sets|

##### EJEMPLO: Añadir un elemento - add()

Para añadir un elemento a un set usamos el método **add()**.

In [84]:
set_nombres = {"Ana","Yolanda","Alberto","Ricardo","Marcos"}

In [99]:
set_nombres.add("Montse")

In [100]:
set_nombres

{'Alberto', 'Ana', 'Marcos', 'Montse', 'Ricardo', 'Yolanda'}

Fijaros que el set, al no tener orden, el elemento nuevo no va al final de la cadena!

##### EJEMPLO: Añadir varios elementos - update()

Para añadir varios elementos en un set usamos el método **update()**, y los elementos a añadir los contenemos como una lista, es decir entre claudátors [].

In [101]:
set_nombres.update(["Alberto","Judith","Matías"])

In [102]:
set_nombres

{'Alberto',
 'Ana',
 'Judith',
 'Marcos',
 'Matías',
 'Montse',
 'Ricardo',
 'Yolanda'}

##### EJEMPLO: Longitud de un set - len()

Para determinar cuántos elementos contiene un set, usamos el método **len()**

In [103]:
len(set_nombres)

8

##### EJEMPLO: Borrar un elemento determinado - remove() o discard()

In [104]:
set_nombres

{'Alberto',
 'Ana',
 'Judith',
 'Marcos',
 'Matías',
 'Montse',
 'Ricardo',
 'Yolanda'}

In [105]:
set_nombres.remove("Ana")

**Importante!** Si quisiéramos eliminar un elemento del set que no está contenido en el set, **nos saltaría un error al aplicar el remove()**

In [106]:
set_nombres.discard("Yolanda")

**Importante!** Si quisiéramos eliminar un elemento del set que no está contenido en el set, **NO nos saltaría un error al aplicar el discard()**

##### EJEMPLO: Borrar último elemento del set- pop()

Si queremos borrar el primer elemento del set usaremos el método **pop()**. Sin embardo, como los sets no son ordenados, no sabremos qué elemento vamos a borrar.

In [85]:
len(set_nombres)

5

In [86]:
set_nombres

{'Alberto', 'Ana', 'Marcos', 'Ricardo', 'Yolanda'}

In [87]:
set_nombres.pop()

'Alberto'

In [88]:
len(set_nombres)

4

In [89]:
set_nombres

{'Ana', 'Marcos', 'Ricardo', 'Yolanda'}

##### EJEMPLO: Vaciar un set - clear()

El método **clear()** vacía el set de todos sus elementos

In [115]:
set_nombres.clear()

In [116]:
set_nombres

set()

In [117]:
len(set_nombres)

0

##### EJEMPLO: Eliminar un set - del()

Finamente, el método **del()** borra un set completamente.

In [118]:
del set_nombres

##### EJEMPLO: Concatenar o Join de sets- union() y update()

Existen varias manera de unir dos o más sets en Python.

El método **union()** devuelve un **nuevo set** que contiene los elementos de ambos sets

In [120]:
set1 = {"a","b","c"}
set2 = {1,2,3}

set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b', 'c'}

Mientras que el método **update()** inserta todos los elementos de un set a un **set ya existente**

In [122]:
set1 = {"a","b","c"}
set2 = {1,2,3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

**Importante!** Tanto el método union() como el update() excluyen elementos duplicados!

In [123]:
set1 = {"a","b","c"}
set2 = {"b","c","d","e"}

set1.update(set2)
set1

{'a', 'b', 'c', 'd', 'e'}

## Diccionarios

### Introducción

Un diccionario es una colección de datos **no ordenada**, **modificable** e **indexada**. 

En Python, los diccionarios se escribem con {} y tienen dos tipos de elementos:
- etiquetas (*keys* o índices con nombre)
- valores

Los valores de los diccionarios no tienen restricciones. 

**Importante!** Las etiquetas o *keys* de los diccionarios sí tienen restricciones: 

- No se permite más de un valor por key. Lo que significa que **no pueden existir keys duplicadas!!** Si se repitiera una key, prevalece la última definida!

##### EJEMPLO:

In [92]:
mi_diccionario = {
    "marca":"Ford",
    "modelo":"Mustang",
    "año": 1962
}

mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962}

Es decir, 
- las etiquetas mi diccionario (o *keys*) son: "marca", "Modelo" y "año"
- los valores asociados a cada clave del diccionario son: "Ford","Mustang" y 1962

In [70]:
mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962}

In [76]:
mi_diccionario['modelo']

'Mustang'

##### EJEMPLO - keys

In [91]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print ("dict['Name']: ", dict['Name'])

dict['Name']:  Manni

#### Acceder a elementos de un diccionario

Se puede acceder a un elemento de un diccionario **mediante la referencia al nombre de su clave o etiqueta** dentro de corchetes []

In [125]:
mi_diccionario["marca"]

'Ford'

He accedido al valor que guarda la etiqueta "marca".

#### Cambiar valor de un elemento del diccionario

Si accedo a la posición de una determinada etiqueta del diccionario y le asigno un nuevo valor, he cambiado el valor de ese elemento al que he accedido

##### EJEMPLO:

In [126]:
mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962}

In [127]:
mi_diccionario["año"] = '2018'
mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': '2018'}

### Funciones de diccionario

| Función | Descripción
|:---|:---|
|len(dict)|Devuelve longitud del diccionario, es decir nº elementos que tiene
|str(dict1)|Devuelve una versión imprimible del diccionario|
|type(dict1)|Devuelve el tipo del diccionario|

### Métodos de un diccionario

| Método | Descripción
|:---|:---| 
|dict.clear()|	Borra todos los elementos de un diccionario|
|dict.copy()|Devuelve una copia del diccionario|
|dict.fromkeys()|Devuelve un diccionario con las etiquetas y valores deseados|
|dict.get()|	Devuelve el valor de una etiqueta específica |
|dict.items()|	Devuelve una **lista** que contiene una **tupla** para cada pareja de etiqueta-valor |
|dict.keys()|Devuelve una **lista** que contiene las **etiquetas** del diccionario|
|dict.pop()|	Borra el elemento según la etiqueta especificada |
|dict.popitem()|	Borra la última pareja etiqueta-valor insertada |
|dict.setdefault()|	Devuelve el valor de la etiqueta especificada. Si la etiqueta no existe, al insertar la etiqueta especifica el valor que almacenará|
|dict.update()|	Actualiza el diccionario con la pareja etiqueta-valor especificada|
|dict.values()|	Devuelve una **lista** de todos los **valores** del diccionarion|

##### EJEMPLO: Longitud de un diccionario - len()

In [93]:
mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962}

In [94]:
len(mi_diccionario)

3

##### EJEMPLO: Borrar elementos - pop()

In [130]:
mi_diccionario.pop("modelo")
mi_diccionario

{'marca': 'Ford', 'año': '2018'}

##### EJEMPLO: Borrar último elemento insertado - popitem()

In [132]:
mi_diccionario.popitem()
mi_diccionario

{'marca': 'Ford'}

##### EJEMPLO: Borrar elementos mediante etiqueta- del()

In [96]:
del mi_diccionario['modelo']
mi_diccionario

KeyError: 'modelo'

##### EJEMPLO: Borrar diccionario- del()

In [138]:
mi_diccionario = {
    "marca":"Ford",
    "modelo":"Mustang",
    "año": 1962
}

In [139]:
del mi_diccionario

##### EJEMPLO: Borrar todos los elementos - clear()

In [97]:
mi_diccionario = {
    "marca":"Ford",
    "modelo":"Mustang",
    "año": 1962
}

In [141]:
mi_diccionario.clear()

In [99]:
mi_diccionario

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962, 'n': 10}

##### EJEMPLO: Copiar diccionario - copy() o dict()

No se puede copiar un diccionario simplemente mediante la asignación a otro (p.e. dict2 = dict1), por que esto lo que hace es vincular un elemento a otro! Y por lo tanto, al modificar el diccionario original también modificaríamos el nuevo vincualdo.

Para copiar un diccionario, entonces usaremos el método **copy()**. Veámoslo

In [144]:
mi_diccionario = {
    "marca":"Ford",
    "modelo":"Mustang",
    "año": 1962
}

In [145]:
mi_diccionario_2 = mi_diccionario.copy()
mi_diccionario_2

{'marca': 'Ford', 'modelo': 'Mustang', 'año': 1962}

### Diccionarios Anidados

Un diccionario puede contener muchos diccionarios, o lo que llamamos diccionarios anidados

##### EJEMPLO:

In [146]:
Hijos = {
  "Hijo1" : {
    "nombre" : "Email",
    "año" : 2004
  },
  "Hijo2" : {
    "nombre" : "Tobias",
    "año" : 2007
  },
  "Hijo3" : {
    "nombre" : "Linus",
    "año" : 2011
  }
}

In [147]:
Hijos

{'Hijo1': {'nombre': 'Emil', 'año': 2004},
 'Hijo2': {'nombre': 'Tobias', 'año': 2007},
 'Hijo3': {'nombre': 'Linus', 'año': 2011}}

##### EJEMPLO: Crear diccionarios anidados a partir de diccionarios ya existentes

In [150]:
Hijo1 = {
    "nombre" : "Emil",
    "año" : 2004
}
Hijo2 = {
    "nombre" : "Tobias",
    "año" : 2007
}
Hijo3 = { 
    "nombre" : "Linus",
    "año" : 2011
}

In [151]:
hijos = {
  "Hijo1" : Hijo1,
  "Hijo2" : Hijo2,
  "Hijo3" : Hijo3
}

In [152]:
hijos

{'Hijo1': {'nombre': 'Emil', 'año': 2004},
 'Hijo2': {'nombre': 'Tobias', 'año': 2007},
 'Hijo3': {'nombre': 'Linus', 'año': 2011}}

Ejercicio: 
    Genera un diccionario con 3 ciudades como keys y su número de habitantes.
    Devuelve el valor de cada etiqueta y obtiene el número total de habitantes sumando todas las ciudades.
    Al mismo diccionario, agrega una ciudad con su número de habitantes. 
    Me gustaría construir un diccionario anidado, donde solo Barcelona tenga su num de habitantes y PIB.
    Borra los valores de Barcelona del diccionario

In [109]:
ciudades = {
    
    'barcelona' : 1000000,
    'girona' : 700000,
    'badalona': 200000
    
}

In [114]:
sum(ciudades.values())

1900000

In [115]:
ciudades.update({'sabadell':300000})

In [116]:
ciudades

{'barcelona': 1000000,
 'girona': 700000,
 'badalona': 200000,
 'sabadell': 300000}

In [128]:
list(ciudades.keys())[0]

'barcelona'

In [129]:
list(ciudades.values())[0]

1000000

In [130]:
ciudades[list(ciudades.keys())[0]] = {'hab' : list(ciudades.values())[0], 'pib': 20000}

In [131]:
ciudades

{'barcelona': {'hab': 1000000, 'pib': 20000},
 'girona': 700000,
 'badalona': 200000,
 'sabadell': 300000}

In [137]:
ciudades.pop('barcelona')

{'hab': 1000000, 'pib': 20000}

In [138]:
ciudades

{'girona': 700000, 'badalona': 200000, 'sabadell': 300000}

Ejercicio: Escribir un programa que guarde en una variable el diccionario {'Euro':'€', 'Dollar':'$', 'Yen':'¥'}, pregunte al usuario por una divisa y muestre su símbolo o un mensaje de aviso si la divisa no está en el diccionario.

In [103]:
moneda = {'Euro':'€', 'Dollar':'$', 'Yen':'¥'}
x = input('Elige una moneda entre Euro, Dollar y Yen\n')
print(moneda[x])

Elige una moneda entre Euro, Dollar y Yen
Euro
€

Ejercicio: Escribir un programa que cree un diccionario vacío y lo vaya llenado con información sobre una persona (por ejemplo nombre, edad, sexo, teléfono, correo electrónico, etc.) que se le pida al usuario. Cada vez que se añada un nuevo dato debe imprimirse el contenido del diccionario.

In [104]:
persona = {}

In [106]:
key = input('¿Qué dato quieres introducir? ')
value = input(key + ': ')
persona[key] = value
print(persona)

¿Qué dato quieres introducir? Peso
Peso: 75
{'Nombre': 'Charles', 'Peso': '75'}